/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

code {
  color: #e01a76;
}*/
:root {
  --background-gray-color: #F8F8FF;
  --main-gray-color: #6c757d !important;
  --main-red-color: #dc3545;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.gray-button {
  border-width: 2px;
  font-weight: bold;
  color: var(--main-gray-color);
  border-color: var(--main-gray-color);
}
.gray-button:active, .gray-button:focus, .gray-button:hover {
  border-color: var(--main-gray-color);
  color: var(--main-gray-color);
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  color: var(--main-gray-color);
}
.ant-tabs-nav .ant-tabs-tab-active {
  color: var(--main-gray-color);
}
