/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

code {
  color: #e01a76;
}*/

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.gray-button {
  border-width: 2px;
  font-weight: bold;
  color: #6c757d !important;
  border-color: #6c757d !important;
}
  .gray-button:active, .gray-button:focus {
    border-color: #6c757d !important;
    color: #6c757d !important;
}
