<div class="container search-courses-container">
    <div nz-row>
      <div class="d-flex justify-content-center" nz-col nzLg="8">
        <course-card></course-card>
      </div>
      <div class="d-flex justify-content-center" nz-col nzLg="8">
        <course-card></course-card>
      </div>
      <div class="d-flex justify-content-center" nz-col nzLg="8">
        <course-card></course-card>
      </div>
    </div>
    <div nz-row>
      <div class="d-flex justify-content-center" nz-col nzLg="8">
        <course-card></course-card>
      </div>
      <div class="d-flex justify-content-center" nz-col nzLg="8">
        <course-card></course-card>
      </div>
      <div class="d-flex justify-content-center" nz-col nzLg="8">
        <course-card></course-card>
      </div>
    </div>
</div>
