<div nz-row>
  <div nz-col class="d-flex justify-content-center">
    <div class="dashboard-title-container">
      <div class="dashboard-title">University Students</div>
    </div>
  </div>
</div>
<div class="container admin-dashboard-container">
  <div nz-row>
    <div nz-col>
      <nz-table #tableOfUsers [nzData]="pageOfUsers" [nzFrontPagination]="false"
                              [nzScroll]="{ x: '1300px', y: '600px' }" [nzNoResult]="'No results'" [nzBordered]="true">
        <thead>
          <tr>
            <th [nzAlign]="'center'" nzWidth="10%">Id</th>
            <th [nzAlign]="'center'" nzWidth="15%">Name</th>
            <th [nzAlign]="'center'" nzWidth="15%">Last Name</th>
            <th [nzAlign]="'center'" nzWidth="5%">Age</th>
            <th [nzAlign]="'center'" nzWidth="25%">Email</th>
            <th [nzAlign]="'center'" nzWidth="15%">Registered Date</th>
            <th [nzAlign]="'center'" nzWidth="15%">Study Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userData of tableOfUsers.data">
            <td [nzAlign]="'center'" nzWidth="10%">{{ userData.id }}</td>
            <td [nzAlign]="'center'" nzWidth="15%">{{ userData.name }}</td>
            <td [nzAlign]="'center'" nzWidth="15%">{{ userData.lastName }}</td>
            <td [nzAlign]="'center'" nzWidth="5%">{{ userData.age }}</td>
            <td [nzAlign]="'center'" nzWidth="25%">{{ userData.email }}</td>
            <td [nzAlign]="'center'" nzWidth="15%">{{ userData.registeredDate | date}}</td>
            <td [nzAlign]="'center'" nzWidth="15%">{{ userData.studyDate | date}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <div nz-row>
    <div nz-col class="d-flex justify-content-center">
      <div class="dashboard-pagination">
        <nz-pagination id="dashboard-pagination" [nzPageIndex]="pageNumber"
                       [nzTotal]="totalUsers" [nzPageSize]="pageSize" (nzPageIndexChange)="changeNumberPage($event)"></nz-pagination>
      </div>
      <div class="page-size-container">
        <nz-select id="page-size-select" nzShowSearch nzAllowClear
                   nzPlaceHolder="Select a page size" [ngModel]="pageSize"
                   (ngModelChange)="changePageSize($event)">
          <nz-option nzLabel="5/page" nzValue="5"></nz-option>
          <nz-option nzLabel="10/page" nzValue="10"></nz-option>
          <nz-option nzLabel="15/page" nzValue="15"></nz-option>
        </nz-select>
      </div>
    </div>
  </div>
</div>
