.admin-dashboard-course-card{
  margin-bottom: 30px;
}
.course-description-adminboard {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.course-image {
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
}
.subscribers-title {
  padding-left: 22px;
  cursor: pointer;
}
.dropdown-field {
  font-weight: 500;
  color: var(--main-gray-color);
}
.dashboard-pagination {
  text-align: center;
  padding-top: 40px;
}
#page-size-select {
  width: 150px;
}
.page-size-container {
  padding-top: 40px;
  padding-left: 10px;
}
.dashboard-title-container {
  font-size: 28px;
  font-weight: bold;
  height: 80px;
}
.admin-tabs {
  margin-top: 40px;
}
.dashboard-title {
  margin-top: 20px;
}
#search-input {
  margin-bottom: 20px;
}
.search-button i{
  margin-bottom: 5px;
}
.search-button {
  margin-right: -12px;
}
#edit-action {
  cursor: pointer;
}
.gridStyle  {
  width: 25%;
  text-align: center;
}
