<nz-card style="width:300px; min-height:330px;" [nzCover]="coverTemplate" [nzActions]="[subscribeCourse]">
  <nz-card-meta nzTitle="{{courseInfo.courseName}}"
                [nzDescription]="descriptionTemplate"
                [nzAvatar]="avatarTemplate"></nz-card-meta>
</nz-card>
<ng-template #avatarTemplate>
  <nz-avatar nzSrc="{{courseInfo.coverUrl}}"></nz-avatar>
</ng-template>
<ng-template #coverTemplate>
  <img class="card-image" alt="example" src="{{courseInfo.coverUrl}}" />
</ng-template>
<ng-template #descriptionTemplate>
  <div>
    {{courseInfo.description}} <br />
    One lesson duration: {{courseInfo.duration}} hours<br />
    Added Date: {{courseInfo.dateAdded | date}} <br />
  </div>
</ng-template>  
<ng-template #subscribeCourse>
</ng-template>
