<div nz-row>
  <div nz-col nzXs="0" nzSm="4" nzMd="6">
  </div>
  <div nz-col nzXs="24" nzSm="16" nzMd="12" class="send-activate-col">
    <div class="send-activate-box">
      <div class="activate-message">
        <p class="message-text">
          Email with activation has been sent to your email
        </p>
        <p class="message-text">
          If you didnt receive the email, check spam or
        </p>
        <button class="rounded-pill gray-button" nz-button nzSize=large (click)="sendActivation()">Send activation email</button>
        <p class="warning-text">Warning: Without confirmation you will not to be able to login in your accout, so check your email now!</p>
      </div>
    </div>
  </div>
  <div nz-col nzXs="0" nzSm="4" nzMd="6">
  </div>
</div>
